/* LYNUP Custom CSS Extensions */
/* extended by Justin Kipker - Dev @ Lynup */
/* ------------------------------------------- */

/* remove original navigatio */
nav{ display: none; }

.lynup-nav{
	border-bottom: 1px black solid;
	text-align:center;
	width: 103%;
    margin-left: -65px;
}

.lynup-nav ul{
	margin-bottom: 8px;
}

.lynup-nav ul li{
	list-style-type: none;
	display:  inline-block;
	margin: 0 -2px;
}

.lynup-nav ul li a{
	padding: 10px 25px;
	color: #fff;
	font-size: 18px;
	transition: all 0.3s ease;
}

.lynup-nav ul li a:hover{
	background-color: #ee3124;
}

.logo{ float: right; }

.logo li{ 
	margin-right: 5px; 
	font-size: 22px;
}


.logo li img{ height: 20px; }

.lynup-nav-sub ul li a{
	padding: 10px 25px;
	color: #000000;
	font-size: 18px;
	transition: all 0.3s ease;
}

.lynup-nav-sub ul li a:hover{ color: #fff; }

.logo-emblem{
	width: 235px;
}
.logo-emblem img{
	width: 235px;
}

.container, .service-details{
	width: 900px;
}


.add-top-half {
	padding-top: 0px;
}
.liner-division{
	margin-top: 25px !important;
}
.marketing {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	background-color: #db291d;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}

p.big {
	margin-top: 55px;
}


.top-banner-caption-v1 h1{
	font-size: 92px !important;
}

/*Dusan's edits*//*Dusan's edits*/
/*Dusan's edits*//*Dusan's edits*/
.team-info{
	height: 300px;
}
h4 {
	color: #fff;
	font-size: 15px;
	letter-spacing: 0px;
	font-weight: 200;
	line-height: 0px;
	font-family:"OpenSansLight";
	text-transform: uppercase;
	padding: 5px 10px;
	padding-bottom: 25px;
	}

#masthead {
	position: fixed;
}


@media screen and (max-width: 960px) {

	.team-info{
		height: 600px;
	}

	.team-info img{
		width: 346px;
	}

	.logo-emblem{
		margin-top: -100px;
	}
	#masthead {
	position: relative;
	}

}


@media screen and (max-width: 768px) {

.top-banner-caption-v1 h1{
	font-size: 72px !important;
	margin-top: 25px;
}
.promo-heading {
	    font-size: 24px;
	    line-height: 40px;
}
.promo-text {
	    font-size: 18px;
	    line-height: 31px;
	}
#text_content{
	width: 650px;
	text-align: center;
}
.col-md-14 {
	width: 100%;
	margin-bottom: 25px;
	text-align: center !important;
}
.col-md-15 {
	width: 650px !important;
	margin-left: -25px !important;
	margin-bottom: 25px !important;
	text-align: center !important;
}
.col-md-16 {
	width: 600px !important;
	
	text-align: center !important;
	display: inline-block;
	vertical-align: top;

}
.footer-top .mapimage{
	margin-bottom: 55px;
}
#masthead {
	position: relative;
	}
}

@media screen and (max-width: 640px) {

	.lynup-nav{
		border-bottom: 1px black solid;
		text-align:left;
		width: 103%;
	    margin-left: -16px;
	}
	#masthead {
		position: relative;
		width: 100%;
		padding: 0px;
		padding-left: 15px;
		margin-top: 5px;
	}

	.promo-heading {
	    font-size: 14px;
	    line-height: 22px;
	
	}
	#text_content {
		margin: 0 auto !important;
		width: 250px !important;
		text-align: center;
	}
	#control_buttons a {
		margin-top: 85px;
	}
	.vertical-center {
		padding-top: 0px !important; 
	}

	ul.logo {
		margin: 15px 0 0 5px !important;
		color: #fff;
	}
	.logo{ 
		float: left; 
		padding-left: 0px;
		color: #fff;
	}
	.logo li{ 
		margin-right: 5px; 
		font-size: 22px;
		color: #fff;
	}
	.team-info{
		height: 496px;
	}
	.info h2 {
		padding: 0px !important;
		font-size: 16px !important;
	}
	h3 {
		line-height: 34px !important;
	}
	h4 {
		color: #fff;
		font-size: 15px;
		letter-spacing: 0px;
		font-weight: 200;
		line-height: 0px;
		font-family:"OpenSansLight";
		text-transform: uppercase;
		padding: 5px 10px;
		}
	.top-banner-caption-v1 h1{
		font-size: 36px !important;
		margin-top: 5px;
		padding-bottom: 75px;
		line-height: 36px;
	}
	.col-md-12 {
		margin-top: -90px;
	}
	.add-bottom{
		padding-bottom: 0px;
	}
	.thumb-carousel-wrap{
		margin-top: -45px;
	}
	.liner-division-light{
		margin-top: 15px !important;
	}
	.service-details{
		padding-left: 45px !important;
	}

	.marketing {
		height: auto;
	    display: block;
	    width: 100%;
		border: 1px solid #707070;
		background-color: #db291d;
		color: #fff;
		text-align: center;
		padding-top: 30px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		padding-bottom: 20px;
		background-repeat: no-repeat;
		font-family: "NexaLight";
	}

	.lynup-nav ul{
		padding: 0;  
	    margin: 0 auto;  
	    width:103%;
	    list-style:none;
	    margin-top: -5px;
	}

	.lynup-nav ul li{
		list-style-type: none;
		display: block;
		width: 103%;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #000000;
		background:  #ee3224;
	}

	.lynup-nav ul li a{
		color: #fff;	
		transition: all 0.3s ease;
	}

	.lynup-nav ul li a:hover{
		background:  #000000 url("../images/LynupImages/arrow.png");
		background-position: left;
		background-repeat: no-repeat;
		display: block;
		width: 103%;
		margin-top: -5px;
		margin-bottom: -5px;
	}
	.col-md-14 {
		width: 80%;
		margin-left: -25px;
		margin-bottom: 25px;
		text-align: center !important;
	}
	.col-md-15 {
		width: 80% !important;
		margin-left: -25px !important;
		margin-bottom: 25px !important;
		text-align: center !important;
	}
	.col-md-16 {
		width: 100% !important;
		margin-left: -25px !important;
		margin-bottom: 25px !important;
		text-align: center !important;
	}
	.footer-top .mapimage{
		margin-left: 10px !important;
	}

	.service-details .small-heading span {
		font-size: 14px !important;
		line-height: 22px !important;
		color: #fff !important;
		border: solid 1px #fff !important;
		border: none !important;
		background-color: transparent !important;
		top: -15px !important;
		position: relative !important;
		text-align: center !important;
		padding: 0px !important;
		}

		#wufoo-q1owb3k2159tevl{
			width: 420px;
		}
		#masthead {
	position: relative;
	}
}


