/* LYNUP Custom CSS Extensions */
/* extended by Justin Kipker - Dev @ Lynup */
/* ------------------------------------------- */

/* remove original navigatio */
nav{ display: none; }

.lynup-nav{
	border-bottom: 1px black solid;
	text-align:center;
	width: 103%;
    margin-left: -16px;
}

.lynup-nav ul{
	margin-bottom: 8px;
}

.lynup-nav ul li{
	list-style-type: none;
	display:  inline-block;
	margin: 0 -2px;
}

.lynup-nav ul li a{
	padding: 10px 25px;
	color: #fff;
	font-size: 18px;
	transition: all 0.3s ease;
}

.lynup-nav ul li a:hover{
	background-color: #ee3124;
}

.logo{ float: right; }

.logo li{ 
	margin-right: 5px; 
	font-size: 22px;
}


.logo li img{ height: 20px; }

.lynup-nav-sub ul li a{
	padding: 10px 25px;
	color: #000000;
	font-size: 18px;
	transition: all 0.3s ease;
}

.lynup-nav-sub ul li a:hover{ color: #fff; }

.logo-emblem{
	width: 235px;
}
.logo-emblem img{
	width: 235px;
}

.container, .service-details{
	width: 900px;
}

.team-info{
	height: 260px;
}
.marketing {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.branding {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/branding.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.inbound {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/inbound.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.social-media {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/social-media.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.social-seo {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/social-seo.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.website-design {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/website-design.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.graphic-design {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/graphic-design.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.photography {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/photography.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}
.videography {
	height: auto;
    display: block;
    width: 100%;
	border: 1px solid #707070;
	/*background-image: url('../images/categories/videography.jpg');*/
	background-image: url('../images/bg1.jpg');
	color: #fff;
	text-align: center;
	padding-top: 30px;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 20px;
	background-repeat: no-repeat;
	font-family: "NexaLight";
}

p.big {
	margin-top: 185px;
}